body,ul,p,figure,h1,dd{margin: 0; }
ul,ol{padding: 0;}
ul li{list-style: none;}
button,input{border: none;}
button,input{outline: none;}
input{background: none; -webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-appearance:none;}
a{color: #59c2e6; text-decoration: none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
a:hover{color: #59c2e6; text-decoration: underline;}
button:focus{outline: none;}
h2{margin: 0;}
small{color: #ccc;}

body, button, span, li,
input, textarea{
	font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
	font-size: 14px;
}

.app{
	background: #000;
}

/*topbar 样式 S*/
.topbar{
	width: 100%;
	height: 50px;
	background: #373d41;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;
}

.user-info{
	float: right;
	line-height: 50px;
	margin-right: 20px;
}

.user-name{
	color: #fff;
	margin-right: 20px;
}

.user-info .btn-a{
	color: #fff;
}
/*topbar 样式 E*/

/*sidebar 样式S*/
.sidebar{
	width: 200px;
	position: fixed;
	top: 50px;
	bottom: 0;
	background: #333744;
	z-index: 100;
	overflow: hidden;
}

.sidebar-c{
	width: 110%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.sidebar .sidebar-tac{
	width: 200px;
}
/*sidebar 样式E*/

/*main 样式S*/
.main{
	width: auto;
	position: absolute;
	top: 50px;
	left: 200px;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.main-c{
	position: absolute;
    width: auto;
    background: #f7f7f7;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    overflow-y: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.main-p{
	height: 400px;
}
/*main 样式E*/

/*fundslist S*/
.search-c{
	margin-bottom: 16px;
}
/*fundslist E*/

.el-input--small{
	width: 300px;
}

.el-button--small{
	padding: 8px 14px;
	margin-left: 10px;
}

.el-pagination{
	padding: 0;
	margin-top: 20px;
}

.cur-position{
	color: #aaa;
    font-size: 14px;
    margin-bottom: 12px;
}

.add-a{
	display: inline-block;
	color: #fff;
	font-size: 12px;
    background-color: #13ce66;
    border-color: #13ce66;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    line-height: 1;
    margin-left: 10px;
    padding-right: 14px;
    padding-left: 14px;
    padding-top: 9px;
    padding-bottom: 10px;
}

.add-a.ml0{
	margin-left: 0;
}

.add-a:hover{
	color: #fff;
	text-decoration: none;
}

.search-c .el-checkbox{
	margin-left: 10px;
}

.el-pagination .el-pagination__editor{
	width: 50px!important;
}

.mod-c{
	padding: 16px;
	background: #fff;
}

.mod-c.mtop{
	margin-top: 12px;
}

.mod-c .title{
	font-weight: bold;
}

.grid-content-ex{
	margin-top: 16px;
	height: 34px;
}

.grid-content-right{
	text-align: right;
}

.title-sp{
	display: inline-block;
	width: 160px;
	vertical-align: top;
	text-align: left;
}

.grid-content-right .dropdown-c{
	text-align: left;
}

.dropdown-c{
	width: 300px;
	height: 20px;
	line-height: 1.42857143;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 6px 12px;
	position: relative;
	cursor: pointer;
}

.dropdown-c.required:after{
	content: "*";
	color: #ff4949;
	font-weight: bold;
	position: absolute;
	top: 8px;
	right: -12px;
}

.dropdown-c.el-icon-caret-bottom:before{
	float: right;
	margin-top: 2px;
}

.dropdown-c .cancel-a{
	position: absolute;
	top: 8px;
	right: 32px;
	color: #333;
	font-weight: bold;
	cursor: pointer;
	display: none;
}

.dropdown-c:hover .cancel-a{
	display: block;
}

.dropdown-ul{
	width: 100%;
	background: #fff;
	position: absolute;
	top: 34px;
	left: 0;
	z-index: 10;
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-li{
	padding: 6px 12px;
}

.dropdown-li:hover{
	background: #f5f5f5;
}

.mc-list-c{
	position: relative;
	height: 0;
}

.mc-list{
	width: -webkit-calc(100% + 32px);
	width: calc(100% + 32px);
	height: 568px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: -16px;
	z-index: 10;
}

.btn-a{
	cursor: pointer;
}

.el-table table{
	width: 100%!important;
}

.avatar-c{
	width: 27px;
	margin: 0 auto;
}

.avatar-c img{
	max-width: 100%;
	vertical-align: middle;
}

a.notbtn{
	color: #1f2d3d;
	text-decoration: none;
	cursor: default;
}

.el-dialog--small.dialog600{
	width: 600px;
}

.el-dialog--small.dialog600 .el-form-item__label{
	text-align: left;
}

.el-textara-c{
	position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}

.el-textarea{
	width: -webkit-calc(100% - 22px);
	width: calc(100% - 22px);
	padding: 3px 10px;
	height: 200px;
	resize: none;
	border: 1px solid #bfcbd9;
    border-radius: 4px;
}